.parent {
    position: relative;
    background-color: #0b5394;
  }
  
  .cardBody {
    background-color:#605356;
  }

  .cardText {
    color: azure;
  }

.platformsCard {
  color: azure;
  width: min-content;
}

.imageCard {
  width: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}