.list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.forms {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}