.parent {
    position: relative;
    background-color:#6fa8dc;
  }
  
  .cardBody {
    background-color:#6fa8dc;
  }

  .cardText {
    color: black;
  }

.platformsCard {
  color: black;
  width: min-content;
}

.imageCard {
  width: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}